{% extends "layout.html" %}

{% block head %} 
  <title>About Us - American Eagle Scaffolding Rentals & Equipment</title>
  <meta name="description" content="We care about your establishments exterior and believe that it's the ultimate first impression. We have four generations and over 50 years of experience as contractors in Arizona. Our main services include stucco, EIFS, siding, and stone/brick veneer. Give us a call today!">
  <link rel="stylesheet" href="static/css/about.css">
{% endblock %}

{% block header_image %}about.jpg{% endblock %}
{% block header_overlay_text %}ABOUT{% endblock %}

{% block main %}
  <div class="about">
    <div class="section gray">
      <div class="headline">
        <img class="image" src="static/images/acero-hawes-5.jpg">
  
        <div class="text">
          <p class="header">We know that the job can't get done without the right equipment.</p>
          <p class="details">As our team is part of a parent stucco company, we understand the importance of having the right equipment, it's essential. That's why our mission is to provide you with the high quality equipment you need at a great price.</p>
        </div>
      </div>
    </div>

    <div class="section white">
      <div class="company-details-container">
        <div class="text">
          <p class="details">Our main rentals include multiple different types of scaffolding and accessories, harness, safety equipment, construction signage, plaster/mortar mixes, ladders, and lanyards. Give us a call today to ensure we have the equipment you need and to get your rental scheduled.</p>
          <p class="details">We want to make the rental process as easy as possible for you. That's why we offer a delivery and assembly service anywhere in Arizona.</p>
        </div>

        <img class="image" src="static/images/acero-harvest-3.jpg">
      </div>
    </div>

    <div class="section gray">
      <div class="team">
        <img class="image" src="static/images/office.jpg">

        <div class="text">
          <p class="header">The Team</p>
          <p class="details">We are locally owned and operated out of our office in Fountain Hills, Arizona. As people are the most important aspect of any organization, we highly value our team and their commitment to excellence. Our team is filled with dedicated hard workers that are reliable and make safety a top priority.</p>
        </div>
      </div>
    </div>

    <div class="faqs-container">
      <p class="faqs-header">FAQs</p>

      <div class="faqs">
        <div class="faq">
          <div class="question">
            <p>Do we offer assembly and delivery?</p>
  
            <i class="arrow"></i>
          </div>
  
          <div class="answer">
            <p>Yes! We offer assembly and delivery anywhere in Arizona. Unfortunately we do not offer this service in other states or countries.</p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <p>How do we ensure our equipment is safe before rentals?</p>
  
            <i class="arrow"></i>
          </div>
  
          <div class="answer">
            <p>Yes! We offer assembly and delivery anywhere in Arizona. Unfortunately we do not offer this service in other states or countries.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
