{% extends "layout.html" %}

{% block head %}
  <meta name="description" content="Residential, commercial, and retail stucco and EIFS contractor in Arizona. High quality work. Four generations and over 50 years of experience. Give us a call today!">
  <meta name="keywords" content="stucco, Arizona stucco, EIFS, panels, panelization, brick, stone, veneer, stucco repair, contractor, Arizona stucco contractor">
  <title>American Eagle Scaffolding Rentals & Equipment</title>
  <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block main %} 
  <div class="index">
    <div class="rental-examples">
      <h1>A glimpse at our Rentals</h1>

      <div class="examples">
        <div>
          <img src="static/images/rental-example-scaffold.jpg">
          <h3>Scaffold</h3>
          <p>We rent a wide variety of scaffolding types. With over 50 miles of scaffolding, we meet all of your scaffolding equipment needs at American Eagle Scaffolding Rentals & Equipment.</p>
        </div>

        <div>
          <img src="static/images/rental-example-scaffold.jpg">
          <h3>Accessories</h3>
          <p>We rent a wide variety of scaffolding types. With over 50 miles of scaffolding, we meet all of your scaffolding equipment needs at American Eagle Scaffolding Rentals & Equipment.</p>
        </div>

        <div>
          <img src="static/images/rental-example-scaffold.jpg">
          <h3>Harness</h3>
          <p>We rent a wide variety of scaffolding types. With over 50 miles of scaffolding, we meet all of your scaffolding equipment needs at American Eagle Scaffolding Rentals & Equipment.</p>
        </div>
      </div>
    </div>

    <div class="company-description">
      <p class="description-header">We rent scaffold and equipment</p>
      <p class="description-details">We rent a wide variety of scaffolding types. With over 50 miles of scaffolding, we meet all of your scaffolding equipment needs at American Eagle Scaffolding Rentals & Equipment.</p>
      <!-- <p class="description-details">With over 50 miles of scaffolding, we meet all of your scaffolding equipment needs at American Eagle Scaffolding Rentals & Equipment.</p> -->
    </div>

    <div class="enticement-container">
      <div class="about">
        <a class="about-image-href" href="/about"><img class="about-image" src="static/images/acero-hawes-5.jpg"></a>

        <div class="about-description">
          <a class="about-button" href="/about">ABOUT</a>
          <p class="about-details">Find out about our organization and find answers to frequently asked questions.</p>
          <a class="about-link" href="/about">Learn more <i class="arrow-right"></i></a>
        </div>
      </div>

      <div class="take-action">
        <a class="take-action-image-href" href="/contact-us" ><img class="take-action-image" src="static/images/acero-harvest-3.jpg"></a>

        <div class="take-action-description">
          <a class="take-action-button" href="/contact-us">TAKE ACTION</a>
          <p class="take-action-details">Already know what you need? Contact us and we'll get your rental scheduled.</p>
          <a class="take-action-link" href="/contact-us">Contact us <i class="arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
