{% extends "layout.html" %}

{% block head %}
  <meta name="description" content="We rent scaffolding and accessories all throughout Arizona. Since customer satisfaction is our top priority, we ensure all our rentals are safe and ready for you and your team to use. Give us a call today!">
  <meta name="keywords" content="scaffolding, Arizona scaffolding, scaffolding rentals, scaffolding rentals Arizona, scaffolding accessories, harness, scaffold plank, rentals, rolling scaffold, ladders, construction signs, Arizona delivery and assembly">
  <title>American Eagle Scaffolding Rentals & Equipment</title>
  <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block main %} 
  <div class="index">
    <div class="rental-examples">
      <h1>A glimpse at our rentals</h1>

      <div class="examples">
        <div>
          <a href="{{ url_for('rentals') }}#scaffold-plank"><img src="static/images/rental-example-scaffold.jpg"></a>
          <h3>Scaffold</h3>
          <p>We rent a wide variety of scaffolding types. With over 50 miles of scaffolding, we meet all of your scaffolding equipment needs.</p>
          <a class="details" href="{{ url_for('rentals') }}#scaffold-plank">
            <i class="fa-solid fa-book"></i>
            Find Out More
          </a>
        </div>

        <div class="horizontal-divider first"></div>

        <div>
          <a href="{{ url_for('rentals') }}#scaffold-accessories"><img src="static/images/rental-example-scaffold-accessories.jpg"></a>
          <h3>Accessories</h3>
          <p>Some of our rental scaffolding accessories include clamps, pins, base plates, couplings, wheel pulleys, and safety rails.</p>
          <a class="details" href="{{ url_for('rentals') }}#scaffold-accessories">
            <i class="fa-solid fa-book"></i>
            Find Out More
          </a>
        </div>

        <div class="horizontal-divider second"></div>

        <div>
          <a href="{{ url_for('rentals') }}#other-equipment"><img src="static/images/rental-example-construction-signage.jpeg"></a>
          <h3>Construction Signage</h3>
          <p>We rent various types of construction and safety signage.</p>
          <a class="details" href="{{ url_for('rentals') }}#other-equipment">
            <i class="fa-solid fa-book"></i>
            Find Out More
          </a>
        </div>
      </div>
    </div>

    <div class="company-details">
      <div class="company-description">
        <p class="description-header">Meeting all your scaffolding and equipment needs</p>
        <p class="description-details">Customer satisfaction is our top priority. That's why we ensure all our rentals are safe and ready for you and your team to use. We strive to make the rental process as easy as possible, that's why we also offer an assembly and delivery service statewide in Arizona.</p>
      </div>

      <div class="enticement-container">
        <div class="about">
          <a class="about-image-href" href="/about"><img class="about-image" src="static/images/acero-hawes-5.jpg"></a>

          <div class="about-description">
            <a class="about-button" href="/about">ABOUT</a>
            <p class="about-details">Find out about our organization and find answers to frequently asked questions.</p>
            <a class="about-link" href="/about">Learn more <i class="arrow-right"></i></a>
          </div>
        </div>

        <div class="take-action">
          <a class="take-action-image-href" href="/contact-us" ><img class="take-action-image" src="static/images/take-action.jpg"></a>

          <div class="take-action-description">
            <a class="take-action-button" href="/contact-us">TAKE ACTION</a>
            <p class="take-action-details">Already know what you need? Contact us and we'll get your rental scheduled.</p>
            <a class="take-action-link" href="/contact-us">Contact us <i class="arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
