{% extends "layout.html" %}

{% block head %}
  <title>Rentals - American Eagle Scaffolding Rentals & Equipment</title>
  <meta name="description" content="Our main services include stucco, EIFS, siding, and stone/brick veneer. Give us a call and we can start actualizing and personalizing your project today!">
  <link rel="stylesheet" href="static/css/rentals.css">
{% endblock %}

{% block header_image %}rentals.jpg{% endblock %}
{% block header_overlay_text %}
  <p>RENTALS</p>
  <!-- <p class="services-header-details">from stucco and EIFS to all things exterior</p> -->
{% endblock %}

{% block main %}
  <h1 class="delivery">We offer an assembly and delivery service for all of our rentals anywhere in Arizona. Let us know what you would like, and we will deliver!</h1>

  <div class="services">
    <div class="service gray" id="scaffold-plank">
      <div class="service-contents">
        <img src="static/images/scaffold-plank.jpg">

        <div class="text">
          <p class="header">Scaffold Plank</p>
          <p class="details">We provide all the options so that you can make the right choice when it comes to scaffold plank. We offer 6, 9, and 12 foot sizes.   As we provide many options, choosing a type of scaffolding plank can seem daunting. </p>
          <!-- <p class="details">Stucco is a popular building material due to it's durabililty and longevity. Our specialty is in stucco and EIFS. Although our company only began in 2017, our workforce is experienced and is proud to have a background in the plastering field that goes back multiple generations. We can provide whatever texture ranging from smooth to highly textured finishes and whatever color of choice. </p>
          <p class="details">We also offer stucco repair services. We know that things like cracks may occur in your stucco due to natural causes or a bad previous job, at American Eagle Stucco, we're here to fix those cracks and restore your stucco to that beautiful finish. Please note that cracks over 1/16 of an inch should be fixed as soon as possible since they can allow water and moisture to pass through the walls, which can lead to serious issues like structural damage, rot, and water damage.</p> -->
        </div>
      </div>
    </div>

    <div class="service white" id="scaffold-accessories">
      <div class="service-contents">
        <div class="text">
          <p class="header">Scaffold Accessories</p>
          <p class="details">If you wish to add an aesthetic look to your exterior, stone or brick veneer is the way to go. Typically, brick gives a more clean look while stone adds a more natural appeal. Not only are stone and brick veneer added for decorative purposes, but both materials also add weather, fire, and water resistance to your establishment.</p>
          <p class="details">At American Eagle Stucco, we understand that each project is different, which is why we highly prioritize customization. Both stone and brick veneer are highly customizable by color, style, thickness, and quantitiy. At the end of the day, our goal is to let you make the choice, and we'll take over the rest.</p>
        </div>

        <img src="static/images/scaffold-accessories.jpg">
      </div>
    </div>

    <div class="service gray" id="rolling-scaffold">
      <div class="service-contents">
        <img src="static/images/rolling-scaffold.jpg">
        
        <div class="text">
          <p class="header">Rolling Scaffold</p>
          <p class="details">We do panel, plank and metal siding. If you are looking for a low maintenance and high durabililty siding all while adding a modern aesthetic, you may want to go with the metal siding. If you are wanting to add a more natural sense of beauty and warmth, you may want to go with the plank siding. If you are looking for a safe siding that will treat you right for years to come all while looking amazing, panel siding is a great option.</p>
          <p class="details">We use quality materials. Our panel and plank siding boast a 30 year warranty for the material straight from the manufacturer. As warranty lengths frequently change, please give us a call for more information.</p>
        </div>
      </div>
    </div>

    <div class="service white" id="other-equipment">
      <div class="service-contents">
        <div class="text">
          <p class="header">Other Equipment</p>
          <!-- THIS SECTION INCLUDES SAFETY EQUIPMENT AND CONSTRUCTION/SAFETY SIGNAGE -->
          <p class="details">Straight and yoyo lanyards. retractable, nylons webbing. safety signage. Variety of signage. Plaster / mortar mixes. Variety safety equipment. Generator 6000. Ladders. Harness, SM-LRG.</p>
          <p class="details">We do panel, plank and metal siding. If you are looking for a low maintenance and high durabililty siding all while adding a modern aesthetic, you may want to go with the metal siding. If you are wanting to add a more natural sense of beauty and warmth, you may want to go with the plank siding. If you are looking for a safe siding that will treat you right for years to come all while looking amazing, panel siding is a great option.</p>
          <p class="details">We use quality materials. Our panel and plank siding boast a 30 year warranty for the material straight from the manufacturer. As warranty lengths frequently change, please give us a call for more information.</p>
        </div>

        <img class="img" src="static/images/other-equipment.jpg">
      </div>
    </div>
  </div>
{% endblock %}