{% extends "layout.html" %}

{% block head %}
  <title>Rentals - American Eagle Scaffolding Rentals & Equipment</title>
  <meta name="description" content="Our rentals include scaffold plank, scaffold accessories, rolling scaffold, and lots more. Give us a call today and we can get your rental scheduled!">
  <meta name="keywords" content="scaffolding, Arizona scaffolding, scaffolding rentals, scaffolding rentals Arizona, scaffolding accessories, harness, scaffold plank, rentals, rolling scaffold, ladders, construction signs, Arizona delivery and assembly">
  <link rel="stylesheet" href="static/css/rentals.css">
{% endblock %}

{% block header_image %}rentals.jpg{% endblock %}
{% block header_overlay_text %}
  <p>RENTALS</p>
{% endblock %}

{% block main %}
  <h1 class="delivery">We offer an assembly and delivery service for all of our rentals anywhere in Arizona. Let us know what you would like, and we will deliver!</h1>

  <div class="services">
    <div class="service gray" id="scaffold-plank">
      <div class="service-contents">
        <img src="static/images/scaffold-plank.jpg">

        <div class="text">
          <p class="header">Scaffold Plank</p>
          <p class="details">We provide lots of options so that you can make the right choice for your needs. We offer 6, 9, and 12 foot sizes. Our scaffold plank includes a snap on locking system.</p>
          <p class="details">Our scaffold plank rentals can be used with our 4, 6, and 10 foot frame rentals as well.</p>
        </div>
      </div>
    </div>

    <div class="service white" id="scaffold-accessories">
      <div class="service-contents">
        <div class="text">
          <p class="header">Scaffold Accessories</p>
          <p class="details">Our scaffold accessory rentals include base plates, snap on cross braces, snap on safety rails, put logs, guard rail posts, right angle clamps, swivel clamps, snap on couplings, various pins, spring retainers, wheel pulleys, half rungs, and screw jacks. Most of our accessories come in various options and sizes.</p>
          <p class="details">If the accessories listed above don't include what you need, give us a call today as we may still have what you're looking for.</p>
        </div>

        <img src="static/images/scaffold-accessories.jpg">
      </div>
    </div>

    <div class="service gray" id="rolling-scaffold">
      <div class="service-contents">
        <img src="static/images/rolling-scaffold.jpg">
        
        <div class="text">
          <p class="header">Rolling Scaffold</p>
          <p class="details">We offer a variety of different rolling scaffold units. We rent 6 steel multi function scaffolding (MFS) and 6 steel MFS guard rail systems. We also rent steel stair units that connect to the frames along with standard post shores.</p>
        </div>
      </div>
    </div>

    <div class="service white" id="other-equipment">
      <div class="service-contents">
        <div class="text">
          <p class="header">Other Equipment</p>
          <p class="details">We offer a wide range of construction equipment. We rent straight and retractable yoyo lanyards, a variety of safety/construction signage, safety equipment, plaster/mortar mixes, ladders, small to large size harnesses, and generators.</p>
          <p class="details">If what you need isn't listed, give us a call as we may still have what you're looking for!</p>
        </div>

        <img class="img" src="static/images/other-equipment.jpg">
      </div>
    </div>
  </div>
{% endblock %}