{% extends "layout.html" %}

{% block head %}
  <title>Rentals - American Eagle Scaffolding Rentals & Equipment</title>
  <meta name="description" content="Our rentals include scaffold plank, scaffold accessories, rolling scaffold, and lots more. Give us a call today and we can get your rental scheduled!">
  <meta name="keywords" content="scaffolding, Arizona scaffolding, scaffolding rentals, scaffolding rentals Arizona, scaffolding accessories, harness, scaffold plank, rentals, rolling scaffold, ladders, construction signs, Arizona delivery and assembly">
  <link rel="stylesheet" href="static/css/rentals.css">
{% endblock %}

{% block header_image %}rentals.jpg{% endblock %}
{% block header_overlay_text %}
  <p>RENTALS</p>
{% endblock %}

{% block main %}
  <h1 class="delivery">We offer an assembly and delivery service for all of our rentals anywhere in Arizona. Let us know what you would like, and we will deliver!</h1>

  <div class="services">
    <div class="service gray" id="scaffold-plank">
      <div class="service-contents">
        <img src="static/images/scaffold-plank.jpg">

        <div class="text">
          <p class="header">Scaffold Plank</p>
          <!-- As we provide many options, choosing a type of scaffolding plank can seem daunting. -->
          <p class="details">We provide lots of options so that you can make the right choice for your needs. We offer 6, 9, and 12 foot sizes. Our scaffold plank includes a snap on locking system.</p>
          <p class="details">Our scaffold plank rentals can be used with our 4, 6, and 10 foot frame rentals as well.</p>
        </div>
      </div>
    </div>

    <div class="service white" id="scaffold-accessories">
      <div class="service-contents">
        <div class="text">
          <p class="header">Scaffold Accessories</p>
          <p class="details">Our scaffold accessory rentals include base plates, snap on cross braces, snap on safety rails, put logs, guard rail posts, right angle clamps, swivel clamps, snap on couplings, various pins, spring retainers, wheel pulleys, half rungs, and screw jacks. Most of our accessories come in various options and sizes.</p>
          <p class="details">If the accessories listed above don't include what you need, give us a call today as we may still have what you're looking for.</p>
        </div>

        <img src="static/images/scaffold-accessories.jpg">
      </div>
    </div>

    <div class="service gray" id="rolling-scaffold">
      <div class="service-contents">
        <img src="static/images/rolling-scaffold.jpg">
        
        <div class="text">
          <p class="header">Rolling Scaffold</p>
          <p class="details">We offer a variety of different rolling scaffold units. </p>
          <p class="details">We do panel, plank and metal siding. If you are looking for a low maintenance and high durabililty siding all while adding a modern aesthetic, you may want to go with the metal siding. If you are wanting to add a more natural sense of beauty and warmth, you may want to go with the plank siding. If you are looking for a safe siding that will treat you right for years to come all while looking amazing, panel siding is a great option.</p>
          <p class="details">We use quality materials. Our panel and plank siding boast a 30 year warranty for the material straight from the manufacturer. As warranty lengths frequently change, please give us a call for more information.</p>
        </div>
      </div>
    </div>

    <div class="service white" id="other-equipment">
      <div class="service-contents">
        <div class="text">
          <p class="header">Other Equipment</p>
          <!-- THIS SECTION INCLUDES SAFETY EQUIPMENT AND CONSTRUCTION/SAFETY SIGNAGE -->
          <p class="details">Straight and yoyo lanyards. retractable, nylons webbing. safety signage. Variety of signage. Plaster / mortar mixes. Variety safety equipment. Generator 6000. Ladders. Harness, SM-LRG.</p>
          <p class="details">We do panel, plank and metal siding. If you are looking for a low maintenance and high durabililty siding all while adding a modern aesthetic, you may want to go with the metal siding. If you are wanting to add a more natural sense of beauty and warmth, you may want to go with the plank siding. If you are looking for a safe siding that will treat you right for years to come all while looking amazing, panel siding is a great option.</p>
          <p class="details">We use quality materials. Our panel and plank siding boast a 30 year warranty for the material straight from the manufacturer. As warranty lengths frequently change, please give us a call for more information.</p>
        </div>

        <img class="img" src="static/images/other-equipment.jpg">
      </div>
    </div>
  </div>
{% endblock %}